
<div class="books-container">
    <form [formGroup]="booksForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput type="text" placeholder="Title" formControlName="title" [(ngModel)]="booksForm.title" required>
            <mat-error *ngIf="!booksForm.controls.title.valid">Please enter valid Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Author" formControlName="author" [(ngModel)]="booksForm.author" required>
            <mat-error *ngIf="!booksForm.controls.author.valid">Please enter valid Author</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="date" placeholder="Published Date" formControlName="publishedDate" [(ngModel)]="booksForm.publishedDate" required>
            <mat-error *ngIf="!booksForm.controls.publishedDate.valid">Please enter valid Published Date</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Category" formControlName="category" [(ngModel)]="booksForm.category" required>
                <mat-option value="Science">Science</mat-option>
                <mat-option value="Fiction">Fiction</mat-option>
                <mat-option value="Arts">Arts</mat-option>
                <mat-option value="Religious">Religious</mat-option>
                <mat-option value="Business">Business</mat-option>
                <mat-option value="Law">Law</mat-option>
                <mat-option value="Social">Social</mat-option>
            </mat-select>
            <mat-error *ngIf="!booksForm.controls.category.valid">Please enter valid Category</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Package Type" formControlName="packageType" [(ngModel)]="booksForm.packageType" required>
                <mat-option value="Paperback">Paperback</mat-option>
                <mat-option value="Hardcover">Hardcover</mat-option>
            </mat-select>
            <mat-error *ngIf="!booksForm.controls.packageType.valid">Please enter valid Package Type</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Available Quantity" formControlName="availableQuantity" [(ngModel)]="booksForm.availableQuantity" required>
            <mat-error *ngIf="!booksForm.controls.availableQuantity.valid">Please enter valid Available Quantity</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Total Quantity" formControlName="totalQuantity" [(ngModel)]="booksForm.totalQuantity" required>
            <mat-error *ngIf="!booksForm.controls.totalQuantity.valid">Please enter valid Total Quantity</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Cover Page" formControlName="coverPage" [(ngModel)]="booksForm.coverPage" required>
            <mat-error *ngIf="!booksForm.controls.coverPage.valid">Please enter valid Cover Page</mat-error>
        </mat-form-field>
        <button class="submit-button">Submit</button>
    </form>
    </div>