
<div class="books-container">
        <input type="text" placeholder="Title">
        <input type="text" placeholder="Author">
        <input type="date" placeholder="Published Date">
        
        <select name="Category" id="">
            <option value="Paper Back">Science</option>
            <option value="Paper Back">Fiction</option>
            <option value="Paper Back">Arts</option>
            <option value="Paper Back">Religious</option>
            <option value="Paper Back">Business</option>
            <option value="Paper Back">Law</option>
            <option value="Paper Back">Social</option>
        </select>
        <select name="Package Type" id="">
            <option value="Paper Back">Paper Back</option>
            <option value="Hard Cover">Hard Cover</option>
        </select>
        <input type="number" placeholder="Available Quantity">
        <input type="number" placeholder="Total Quantity">
        <input type="text" placeholder="Cover Page">
    </div>