.books{
    &-container{
        display: flex;
        margin: 0 auto;
        padding: 0 20px;

        &-books{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            overflow-wrap: normal;     
            &-book{
                display: flex;
                flex-direction: column;
                padding: 20px;
                cursor: pointer;

                &-cover{
                    img{
                        width: 280px;
                        height: 400px;
                        background-size: cover;
                        object-fit: cover;
                        &:hover{
                            transform: scale(1.1);
                            transition: all 0.5s ease;
                        }
                    }
                }
                &-info{
                    line-height: 1px;
                    max-width: 300px;
                    h3{
                        padding-top: 30px;
                        font-size: 25px;
                    }

                    &-text{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                    
                    &-left{
                    p{
                        font-size: 15px;
                        font-weight: 100;
                        padding-top: 10px;
                    }
                    } 
                    &-right{
                        button{
                            padding: 20px 20px;
                            margin-top: 20px;
                            border: none;
                            border-radius: 5px;
                            background-color: #000;
                            color: #fff;
                            font-size: 15px;
                            cursor: pointer;
                            &:hover{
                                background-color: #fff;
                                color: #000;
                                transition: all 0.5s ease;
                                border: 1px solid #000;
                            }
                        } 
                    }  
                }
                    
                }
            }
        }
    }
}