<div class="signin-container">
    <div class="signin-container-left">
        <h1>Welcome Back</h1>
        <p>Login to your account</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
           
            <mat-form-field>
                <input matInput type="text" placeholder="Username" formControlName="userName" required>
                <mat-error *ngIf="!loginForm.controls.userName.valid">Please enter valid Username</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password" required>
                <mat-error *ngIf="!loginForm.controls.password.valid">Please enter valid password</mat-error>
            </mat-form-field>
            <p *ngIf="loginError">{{loginError}}</p>
            <p>New User?
                <a (click)="signUpPage()">SignUp</a>
            </p>
            <button class="signin-button">Sign In</button>
        </form>
    </div>
    <div class="signin-container-right">
        <img src="../../../../assets/library-books.jpg" alt="">
        <h1>LIBRARY</h1>
        <p>Get all your books in one place.</p>
    </div>
</div>
