<app-header></app-header>
<div class="books-container">
    <div class="books-container-books">
        <ng-container *ngFor="let book of books">
        <div class="books-container-books-book" >
        <div class="books-container-books-book-cover">
            <img src="{{ book.coverPage }}" alt="{{ book.title }}" />
        </div>
        <div class="books-container-books-book-info">
            <h3>{{ book.title }}</h3>
            <p>{{ book.author }}</p>
            <p>{{ book.publishedDate }}</p>
            <p>{{ book.category }}</p>
        </div>
    </div>
</ng-container>
</div>
