
<div class="home-container">
    <div class="home-container-intro">
        <h1>New & Trending</h1>
        <p>Explore new world from authors</p>
        <input type="text" placeholder="Titles, author, or topics">
    </div>
    
    <div class="home-container-books">
        <ng-container *ngFor="let book of books">
        <div class="home-container-books-book">
        <div class="home-container-books-book-cover">
            <img src="{{ book.coverPage }}" alt="">
        </div>
        <div class="home-container-books-book-info">
            <h1>{{ book.title }}</h1>
            <p>Claudia Wilson</p>
        </div>
    </div>
</ng-container>
    </div>   

</div>