<ng-container *ngFor="let book of books">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">Do you want to borrow this book?</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
    Close
  </button>
  <button type="button" (click)="borrowBook(book.bookId)" class="btn btn-success">Borrow Book</button>
</div>
</ng-container>