.header{
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;

        &-logo{
            width: 100px;
            padding-left: 100px;
            padding-top: 30px;
    
            h1{
                color: #2C1810;
                font-size: 30px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        &-menu{
            display: flex;
        }
        &-menu-borrow{
            button{
                width: 150px;
                height: 50px;
                border: 1px solid #F2EBE3;
                border-radius: 5px;
                padding: 10px;
                background-color: #F2EBE3;
                font-weight: bold;
                cursor: pointer;
                margin: 10px;
            }
        }
        &-menu-return{
            button{
                width: 150px;
                height: 50px;
                border: 1px solid #000;
                border-radius: 5px;
                padding: 10px;
                background-color: #000;
                color: #F2EBE3;
                font-weight: bold;
                cursor: pointer;
                margin: 10px;
            }
        }

    
    }

}